extends layout

block content
  h1 Prenota, rispondi e forse vinci
  hr
  .row
    .col-sm-12
      h2 Domanda corrente
      p #{question}
      p
        a.btn.btn-secondary(href='#', role='button') Prenota la risposta »