nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  .container
    a.navbar-brand(href='/')
      i.fa.fa-cube
      | Dumb Quiz
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.navbar-toggler-icon

    .collapse.navbar-collapse
      .dropdown-divider
      ul.nav.navbar-nav.mr-auto
        li.nav-item(class=(title === 'Home') ? 'active' : undefined)
          a.nav-link(href='/') Home
        if (user)
            li.nav-item(class=(title === 'Amministrazione quiz') ? 'active' : undefined)
                a.nav-link(href='/admin') Amministrazione quiz
      ul.nav.navbar-nav
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/login') Login
        else
          li.nav-item(class=(title === 'Logout') ? 'active' : undefined)
            a.nav-link(href='/logout') Logout
